* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 99.4vw;
    border: 0;
    height: 0.2745vh;
    background-color: gold;
}

.box {
    position: relative;
    min-height: 100vh;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: #f3eaeacf;
    border-radius: 1.2vw;
}

::-webkit-scrollbar-thumb {
    background-color: gold;
    border-radius: 0.6vw;
}

.sidebar {
    height: 21vh;
    width: 0.24vw;
    background-color: gold;
    position: fixed;
    top: 8.93vh;
    left: 4.2vw;
}

.line {
    height: 0.2745vh;
    width: 99.4vw;
    background-color: gold;
    position: fixed;
    top: 8.6vh;
    z-index: 30;
}

.sidebar2 {
    height: 13.72vh;
    width: 0.24vw;
    background-color: gold;
    position: fixed;
    top: 52.639vh;
    left: 4.2vw;
}

.media {
    position: fixed;
    top: 29.196vh;
    left: 2.9vw;
    z-index: 10;
}

.media svg {
    height: 4.1176vh;
}

.media a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-size: 2.745vh;
    margin: 1.372vh;
}

.navbar {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 10;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vh 1.8vw;
    position: fixed;
    top: 0px;
}

.logo img {
    height: 5.49vh;
    margin-left: 3vw;
}

.navbar button {
    width: max-content;
    padding: 0.6862vh 0.4vw;
    margin-right: 3vw;
    transition: 0.1s;
    background-color: #c5ae6a;
}

.navbar button a {
    font-size: 2.47vh;
    font-weight: 600;
}

.navbar button:hover a {
    font-size: 2.54vh;
}
.menubar{
    display: none;
}
.navbar button:hover {
    background-color: gold;
    border-radius: 1.372vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list svg {
    height: 2.745vh;
}

.nav-list li {
    margin: 0 2vw 0 2vw;
}

.nav-list li a {
    color: white;
    font-size: 3.43vh;
    text-decoration: none;
    font-weight: 600;
    transition: 0.7s;
}

.nav-list li a:hover {
    color: gold;
    border-top: 0.2745vh solid gold;
}
#cross{
    display: none;
}
.projects {
    width: 99.4vw;
    background-color: rgb(0, 0, 0);
    padding-top: 8.894vh;
    color: #fff;
}

.projects h1 {
    padding-top: 1.372vh;
    font-size: 5.5vh;
    text-align: center;
}

.allprojects {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
}

.projects button {
    margin: 1.372vh;
    font-size: 2.745vh;
    font-weight: 600;
    padding: 0.549vh 0.24vw;
    width: max-content;
    background-color: #c2ab68;
    color: black;
    border: 0.27vh solid rgb(115, 115, 115);
    transition: 0.1s;
}

.allprojects button:hover {
    background-color: gold;
    border-radius: 1.372vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

.allprojects div {
    filter: grayscale(0.7);
    padding: 2.745vh 1.2vw;
    height: 68.62vh;
    width: 42vw;
    color: #fff;
    margin: 7vh;
    box-shadow: 0px 0px 1vh rgb(171, 154, 58);
    transition: 0.6s;
}

.allprojects div:hover {
    filter: grayscale(0);
    transform: scale(1.12);
    box-shadow: 0px 0px 2vh gold;
    border-radius: 3.43vh;
}

.allprojects div p {
    font-size: 2vh;
}

.projects div img {
    height: 41.5vh;
    width: 36vw;
}

.allprojects div h1 {
    color: gold;
}

footer {
    font-size: 2.3vh;
    height: 6.862vh;
    position: relative;
    bottom: 0;
    width: 99.4vw;
    color: #fff;
    text-align: center;
    padding: 1.372vh 0;
    background-color: rgb(0, 0, 0);
}
.social{
    display: none;
}

@media only screen and (max-width:786px) {

    .navbar {
        display: block;
        height: 55px;
        overflow-y: hidden;
    }

    .navbar.responsive {
        height: max-content;
        display: block;
    }

    .nav-list {
        margin-top: 2vh;
        display: block;
        text-align: center;
    }

    .nav-list li {
        padding: 5vh 0;

    }

    .navbar button {
        margin-left: 45vw;
        background-color: gold;
        height: 4vh;
    }

    .navbar .menubar {
        display: block;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }
    .navbar .cross{
        display: block;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }
    .media{
        left:2vw
    }
    .logo img {
        margin-top: 5px;
        height: 25px;
        margin-left: 2px;
    }
    .line{
        top: 55px;
    }
    .projects{
        width: 100vw;
    }
    .projects button{
        background-color: gold;
        border-radius: 0px;
    }
    .allprojects div{
        width: 80vw;
        height: max-content;
        filter: grayscale(0);
        transform: scale(1);
        box-shadow: 0px 0px 10px gold;
        border-radius: 3vh;
    }
    .allprojects div p {
        font-size: 3vh;
    }
    .projects div img {
        width: 70vw;
    }

    footer {
        height: max-content;
        padding: none;
        width: 100vw;
    }

    .line {
        width: 100vw;
    }
}
@media only screen and (max-width:450px) {


    .sidebar,
    .sidebar2,
    .media {
        display: none;
    }
    .navbar {
        display: block;
        height: 55px;
        overflow-y: hidden;
    }

    .navbar.responsive {
        height: max-content;
        display: block;
    }

    .nav-list {
        margin-top: 2vh;
        display: block;
        text-align: center;
    }

    .nav-list li {
        padding: 5vh 0;

    }

    .navbar button {
        margin-left: 38vw;
        width: 100px;
        background-color: gold;
        height: 5vh;
    }

    .navbar .menubar {
        display: block;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }
    .logo img {
        margin-top: 5px;
        height: 25px;
        margin-left: 2px;
    }
    .projects {
        width: 100vw;
    }

    .projects button {
        background-color: gold;
        border-radius: 5px;
    }

    .allprojects div {
        margin: none;
        width: 90vw;
        height: max-content;
        filter: grayscale(0);
    }
    .allprojects div:hover {
        filter: grayscale(0);
        transform: scale(1);
        box-shadow: 0px 0px 5px gold;
        border-radius: 5px;
    }
    .projects div img {
        width: 84vw;
        height: auto;
    }
    .social svg {
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .social {
        display:inline-flex;
        gap: 2vw;
    }

    .social svg {
        height: 20px;
    }

    footer {
        height: max-content;
        padding: none;
        width: 100vw;
    }
}