* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    width: 99.4vw;
    border: 0;
    height: 0.2745vh;
    background-color: gold;
}

.box {
    position: relative;
    min-height: 100vh;
}

#video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: #f3eaeacf;
    border-radius: 1.2vw;
}

::-webkit-scrollbar-thumb {
    background-color: gold;
    border-radius: 0.6vw;
}

.sidebar {
    height: 21vh;
    width: 0.24vw;
    background-color: gold;
    position: fixed;
    top: 8.93vh;
    left: 4.2vw;
}

.line {
    height: 0.2745vh;
    width: 99.4vw;
    background-color: gold;
    position: fixed;
    top: 8.6vh;
    z-index: 30;
}

.sidebar2 {
    height: 13.72vh;
    width: 0.24vw;
    background-color: gold;
    position: fixed;
    top: 52.639vh;
    left: 4.2vw;
}

.media {
    position: fixed;
    top: 29.196vh;
    left: 2.9vw;
    z-index: 10;
}

.media svg {
    height: 4.1176vh;
}

.media a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    font-size: 2.745vh;
    margin: 1.372vh;
}

.navbar {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 10;
    height: 8.894vh;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2vh 1.8vw;
    position: fixed;
    top: 0px;
}

.logo img {
    height: 5.49vh;
    margin-left: 3vw;
}

.navbar button {
    width: max-content;
    padding: 0.5vh 0.4vw;
    margin-right: 3vw;
    transition: 0.1s;
    background-color: #c5ae6a;
    border: none;
}

.navbar button a {
    font-size: 2.47vh;
    font-weight: 600;
}

.navbar button:hover a {
    font-size: 2.54vh;
}

.navbar button:hover {
    background-color: gold;
    border-radius: 1.372vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

.navbar .menubar {
    display: none;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list svg {
    height: 2.745vh;
}

.nav-list li {
    margin: 0 2vw 0 2vw;
}

.nav-list li a {
    color: white;
    font-size: 3.43vh;
    text-decoration: none;
    font-weight: 600;
    transition: 0.7s;
}

.nav-list li a:hover {
    color: gold;
    border-top: 0.2745vh solid gold;
}

main {
    height: calc(100vh - 8.894vh);
    width: 99.4vw;
    position: absolute;
    top: 8.894vh;
}

.content {
    position: absolute;
    font-size: 1.7rem;
    top: 70vh;
    left: 27vw;
    text-align: center;
    color: #fff;
}

#name {
    color: black;
    -webkit-text-stroke: 0.06vw gold;
    text-shadow: 1px 2px 3px rgb(205, 88, 88);
}

.content span {
    font-size: 3vw;
    font-weight: 600;
    color: gold;
    font-variant: small-caps;
}

#image {
    position: absolute;
    top: 2vh;
    left: 33vw;
}

#image img {
    height: 65vh;
}

.about {
    padding-top: 8.894vh;
    background-color: black;
    width: 99.4vw;
    height: 80vh;
    color: white;
    padding-left: 9vw;
    font-size: 2.745vh;
}

.skills {
    padding: 0.686vh;
}

.skills img {
    height: 2.74vh;
}

.details {
    width: 65vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.6vw;
}

.education {
    padding: 0.686vh;
    border-left: 0.12vw solid gold;
    border-right: 0.12vw solid gold;
}

#avatar {
    height: 27vh;
    transform: translate(70vw, -120%);
}

.projects {
    font-size: 2.745vh;
    background-color: black;
    width: 99.4vw;
    height: 86vh;
    color: white;
    padding-left: 9vw;
    padding-top: 8.894vh;
}

.projects button {
    margin: 1.372vh;
    font-size: 2.745vh;
    font-weight: 600;
    padding: 0.549vh 0.24vw;
    width: max-content;
    background-color: #c2ab68;
    color: black;
    border: 0.12vw solid rgb(115, 115, 115);
    transition: 0.1s;
}

.allprojects button:hover {
    background-color: gold;
    border-radius: 1.5vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

.allprojects {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.allprojects div {
    padding: 2.745vh 1.2vw;
    width: 30vw;
    box-shadow: 0px 0px 1vh rgb(171, 154, 58);
    transition: 0.8s;

}

.allprojects div h1 {
    font-size: 4vh;
    color: gold;
}

.allprojects div:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2vh gold;
    border-radius: 3.431vh;
}

.allprojects div img {
    width: 28vw;
}

#viewall {
    width: max-content;
    transform: translateX(33.4vw);
}

#viewall:hover {
    background-color: gold;
    border-radius: 1.372vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

.contact {
    background-color: black;
    width: 99.4vw;
    height: 75vh;
    color: white;
    padding-left: 9vw;
    font-size: 2.745vh;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 8.894vh;
}

.contact form {
    margin-left: 9vw;
}

.contact svg {
    height: 3.3vh;
}

.contact form input {
    background-color: transparent;
    border: 1px solid rgb(115, 115, 115);
    width: 24vw;
    color: #fff;
    height: 5.49vh;
    font-size: 2.745vh;

}

form textarea {
    width: 24vw;
    height: 13.7vh;
    background-color: transparent;
    border: 0.01vh solid rgb(115, 115, 115);
    color: #fff;
}

form button {
    width: 6vw;
    padding: 0.586vh 0.3vw;
    background-color: #c5ae6a;
    color: black;
    font-size: 2vh;
    margin-left: 9vw;
    border: none;
}

form button:hover {
    background-color: #ffd700;
    border-radius: 2vh;
    box-shadow: 0px 0px 20vh 0.6vh goldenrod;
}

footer {
    font-size: 2.3vh;
    height: 6.862vh;
    position: relative;
    bottom: 0;
    width: 99.4vw;
    color: #fff;
    text-align: center;
    padding: 1.372vh 0;
    background-color: rgb(0, 0, 0);
}

.social {
    display: none;
}
#cross{
    display: none;
}

/* .text {
    border-right: 3px solid white;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 6s steps(39),
        cursor .4s step-end infinite alternate;
    color: #fad66b;
} */
/* 
@keyframes cursor {
    50% {
        border-color: transparent
    }
}

@keyframes typing {
    from {
        width: 0
    }
} */
@media only screen and (max-width:786px) {

    .navbar {
        display: block;
        height: 55px;
        overflow-y: hidden;
    }
    .line{
        top: 55px;
    }

    .navbar.responsive {
        height: max-content;
        display: block;
    }

    .nav-list {
        margin-top: 2vh;
        display: block;
        text-align: center;
    }

    .nav-list li {
        padding: 5vh 0;

    }

    .navbar button {
        margin-left: 45vw;
        background-color: gold;
        height: 4vh;
    }

    .navbar .menubar {
        display: block;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }
    .navbar .cross{
        display: block;
        position: fixed;
        top: 2vh;
        right: 2vw;
    }

    #image {
        left: 24vw;
    }

    .content {
        font-size: 2vw;
        left: 25vw;
    }

    .content span {
        font-size: 4vw;
    }

    .media {
        left: 2vw;
    }

    .about {
        width: 100vw;
        height: 90vh;
    }

    #avatar {
        display: none;
    }

    .allprojects {
        grid-template-columns: auto;
        justify-content: center;
    }

    .allprojects div {
        margin-bottom: 3vh;
        width: 70vw;
        font-size: 1.7vw;
    }

    .allprojects div img {
        width: 60vh;
    }

    .allprojects div button {
        width: 70px;
        background-color: gold;
        border-radius: 5px;
    }

    .projects {
        height: max-content;
        width: 100vw;
    }

    #viewall {
        background-color: gold;
        transform: translateX(37.4vw);
    }

    .contact {
        width: 100vw;
    }
    .contact button{
        background-color: gold;
    }
    .contact h3{
        font-size: large;
    }
    hr {
        width: 100vw;
    }

    footer {
        height: max-content;
        padding: none;
        width: 100vw;
    }

    .line {
        width: 100vw;
    }
}

@media only screen and (max-width:480px) {

    .sidebar,
    .sidebar2,
    .media {
        display: none;
    }

    .navbar {
        display: block;
        height: 55px;
        overflow-y: hidden;
    }

    .navbar.responsive {
        height: max-content;
        display: block;
    }

    .navbar button {
        margin-left: 38vw;
        width: 100px;
        background-color: gold;
        height: 5vh;
    }

    #image {
        width: 90vw;
        left: 5vw;
    }

    #image img {

        width: 90vw;
        aspect-ratio: 1/1;
    }

    .logo img {
        margin-top: 5px;
        height: 25px;
        margin-left: 2px;
    }

    #home {
        height: max-content;
    }

    .content {
        font-size: large;
        left: 2vw;
    }

    .content span {
        font-size: 1.8rem;
    }

    .text {
        padding-bottom: 5px;
    }

    #name {
        font-size: 1.8rem;
    }

    .details {
        grid-template-columns: auto;
    }

    .about {
        height: max-content;
        padding-bottom: 20px;
        width: 100vw;
        padding-left: 5vw;
    }

    .education {
        border: none;
    }

    footer {
        height: max-content;
        padding: none;
        width: 100vw;
    }

    .projects {
        padding-left: 5vw;
        width: 100vw;
        height: max-content;
    }

    .allprojects div {
        margin-top: 30px;
        width: 80VW;
        margin-left: none;
        font-size: 12px;
        box-shadow: 0px 0px 2vh gold;
        border-radius: 30px;
    }

    .allprojects div h1 {
        font-size: medium;
    }

    .allprojects div button {
        height: fit-content;
        font-size: large;
        background-color: gold;
        border-radius: 5px;
    }

    .allprojects div img {
        width: 74VW;
    }

    #viewall {
        background-color: gold;
        border-radius: 1.372vh;
        transform: translateX(34vw);
    }

    .contact {
        height: max-content;
        width: 100vw;
        grid-template-columns: auto;
        padding-bottom: 20px;
    }

    .contact div h3 {
        font-size: 1.1rem;
    }

    .contact form input {
        width: 70vw;
    }

    form {
        margin-top: 20px;
    }

    form textarea {
        width: 70vw;
    }

    form button {
        margin: auto;
        font-size: large;
        font-weight: 500;
        width: 20vw;
        background-color: gold;
        border-radius: 5px;
    }

    .social svg {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .social {
        display: inline-flex;
        gap: 2vw;
    }

    .social svg {
        height: 20px;
    }

    hr {
        width: 100vw;
    }

}